@import "tailwindcss";

/* Swiper pagination container */
.swiper-pagination {
  display: flex !important;
  gap: 16px !important;
  align-items: center !important;
  position: relative !important;
  bottom: auto !important;
  left: auto !important;
  width: auto !important;
  padding: 20px 24px !important;
  
}

/* Inactive dash */
.dash-bullet {
  width: 50px !important;
  height: 6px !important;
  background-color: #828282 !important;
  opacity: 0.6 !important;
  border-radius: 3px !important;
  transition: all 0.3s ease !important;
  margin: 0 !important;
  cursor: pointer !important;
}

/* Active dash */
.dash-bullet-active {
  width: 80px !important;
  height: 6px !important;
  background-color: #10b981 !important;
  opacity: 1 !important;
}